# *List*

In [7]:
l=['a','b','c']
type(l)

list

In [19]:
l=[1,2,3,4,5,7]
type(l)

list

In [20]:
l=[1,2,3,4,5]
type(1)

int

In [11]:
g=[7,9,7,9]
print(g[2])

7

In [14]:
l=[1,2,3,4,5,6,7,8,9]
print(len(l))

9

In [18]:
gt=[12,34,56,789,547,5473,214,6944,89668,21335,54,214,43435,215,215,454,236,657578,2153,758467,1643]
print(gt[-1])

1643

In [25]:
l=['a','b','c','e','g','t']
print(l[0:4])

['a', 'b', 'c', 'e']

In [28]:
l=['a','f','r','h','y','i','u','i','p']
print(l[:-7:-1])

['p', 'i', 'u', 'i', 'y', 'h']

In [34]:
l=['a','f','r','u','i','o','i','i','t']
print(l[0:7:2])

['a', 'r', 'i', 'i']

In [37]:
l=['a','f','r','u','i','o','i','i','t']
print(l[:-10:-1])

['t', 'i', 'i', 'o', 'i', 'u', 'r', 'f', 'a']

In [38]:
l=['a','f','r','u','i','o','i','i','t']
print(l[::-1])

['t', 'i', 'i', 'o', 'i', 'u', 'r', 'f', 'a']

In [41]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [42]:
print(l)

['a', 'f', 'r', 'u', 'i', 'o', 'i', 'i', 't']

In [43]:
print(gt)

[12, 34, 56, 789, 547, 5473, 214, 6944, 89668, 21335, 54, 214, 43435, 215, 215, 454, 236, 657578, 2153, 758467, 1643]

In [53]:
ch=["k","tulasi"]
ch.append("k")
ch

['k', 'tulasi', 'k']

In [64]:
g="tulssi"
g[0:4]

'tuls'

In [63]:
g="malayalam"
r=g[::-1]
if g==r:
    print("pal")
else: 
    print("not pal")

pal

In [73]:
u=[4536,658,7,985,34626,23125,614361]
for i in u:
    print(i)

4536
658
7
985
34626
23125
614361

In [74]:
g="tulasi"
for sample in g:
    print(sample)

t
u
l
a
s
i

## *even & odd nums*

In [78]:
n=[46,686,685,5421,76343,164]
for i in n:
    if (i%2==0):
        print("even num",i)
    else:
            print("odd num",i)

even num 46
even num 686
odd num 685
odd num 5421
odd num 76343
even num 164

## *even & odd num b/w a range*

In [91]:
a=int(input("enter lower bound"))
b=int(input("enter upper bound"))
for  i in range(a,b):
    if i%2==0:
            print(i,"even")
    else:
            print(i,"odd")

enter lower bound9
enter upper bound17
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even

## Descending or Ascending Order

In [104]:
l=[131,431,215,215,1235]  
l.sort()
l

[131, 215, 215, 431, 1235]

In [106]:
l=[124,212,9596487,39590,198939]
l.reverse()
l

[198939, 39590, 9596487, 212, 124]

In [109]:
gt=[143,4546,35367,678,5769,3598798,341466]
gt.sort()
print(gt)
gt.reverse()
print(gt)

[143, 678, 4546, 5769, 35367, 341466, 3598798]
[3598798, 341466, 35367, 5769, 4546, 678, 143]

In [1]:
a=int(input("enter length of list"))
for i range of a
l.append(a)
a=[]
a.sort()
print(a)
l.reverse()
print(a)

SyntaxError: invalid syntax (<ipython-input-1-d0c7fb31053c>, line 2)