# *Sample Programs*

In [1]:
print("gud mrng everyone")

gud mrng everyone

In [7]:
a=input("enter ur name")
print(a)

enter ur nametulasi
tulasi

## *Addition Of Two Numbers*

In [8]:
a=40
b=30
c=a+b
print(c)

70

In [9]:
a=40
b=30
print(a+b)

70

## *Given Num Addition*

In [15]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a+b
print(c)

enter a value4
enter b value5
9

## *Given Num Subtraction*

In [16]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a-b
print(c)

enter a value67
enter b value78
-11

## *Given Num Arithmatic Operations*

In [17]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a+b,a-b,a*b,a/b,a%b)

enter a value45
enter b value5
50 40 225 9.0 0

## *concatenate*

In [19]:
a="tulasi"
b="eee"
c=a+b
print(c)

tulasieee

## *conditional Statements*

In [30]:
a=int(input(a))
b=int(input(b))
if a==b:
    print("a & b are equal")
elif a>b:    
    print("a is greater")
else:    
    print("b is greater")

1020
2010
a is greater

## *Greatest Among Three Nums*

In [32]:
a=int(input(a))
b=int(input(b))
c=int(input(c))
if a==b==c:
print("abc are equal")
else a>b:
    elif a>c:
        print("a is greater")
if b>a:
    print("b is greater")
else
    print("c is greater")

IndentationError: expected an indented block (<ipython-input-32-d38d0770019e>, line 5)

## *Import Calender*

In [41]:
import calendar
year=1999
month=5
print(calendar.month(year,month))

      May 1999
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [43]:
import calendar
year=int(input(year))
month=int(input(month))
print(calendar.month(year,month))

19991999
55
      May 1999
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [48]:
n="tulasi"
print(type(n))

<class 'str'>

In [51]:
n=1.0
print(type(n))

<class 'float'>

# *Loops Concept*

In [52]:
for i in range(80):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78

In [55]:
x=["eee""tulasi"]
for i in x:
    print(i)

eeetulasi

In [71]:
x=["eee","tulasi"]
y=["prabhas","tulasi"]
for i in x:
    for j in y:
        print(x,y)

['eee', 'tulasi'] ['prabhas', 'tulasi']
['eee', 'tulasi'] ['prabhas', 'tulasi']
['eee', 'tulasi'] ['prabhas', 'tulasi']
['eee', 'tulasi'] ['prabhas', 'tulasi']

## ->*Functions Concept*

In [70]:
def add(a,b):
    a+b
    return a+b
a=30
b=40
add(a,b)

70

In [72]:
def sub(a,b):
    a-b
    return a-b
a=30
b=40
sub(a,b)

-10

In [74]:
def mul(a,b):
    a*b
    return a*b
a=int(input("enter a value"))
b=int(input("enter b value"))
mul(a,b)

enter a value4
enter b value5

20

In [85]:
def add(a,b): 
    a+b 
    return a+b
def sub(a,b): 
    a-b 
    return a-b
def mul(a,b): 
    a*b 
    return a*b
def div(a,b): 
    a/b 
    return a/b
def rem(a,b): 
    a%b 
    return a%b
a=int(input("enter a value"))
b=int(input("enter b  value"))
print(add(a,b))
print(sub(a,b))
print(mul(a,b))
print(div(a,b))
print(rem(a,b))

enter a value5
enter b  value5
10
0
25
1.0
0